# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Environment files
.env
backend/.env
frontend/.env

# Build
dist/
build/
frontend/dist/
frontend/build/

# Vite cache
node_modules/.vite

backend/serviceAccountKey.json

cnes_estabelecimentos35.json
